@use '../../styles/variables.scss' as *;

.serviceSectionContainer {
    position: relative;
    z-index: 1;
    background: $gradient-color;

    .sectionTitleServiceSection {
        h2 {
            color: $white;
        }
        .barServiceSection {
            &::before {
                background: $white;
            }
        }
        p {
            color: $white;
            opacity: .95;
        }
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 37%;
        width: 100%;
        background: $white;
        z-index: -1;
    }
}