NEXT_PUBLIC_CMS_ENDPOINT=http://localhost:1337
STRAPI_GRAPHQL_ENDPOINT=http://localhost:1337/graphql
STRAPI_API_KEY=813d1c1b2f8214c3ebb4b7ebf11c2f6dd220a52c7f3facb1bb6d5d29058f1e46d718ef76d6f020e379b1615d308c8df5f42aaf0def4575b72fe0ff1450c546fd981f4eb9787e6c67259100064e3e695e7ab5d77da1781e477c16356ad61cdac9431562952a743418aba9689292ae695effa1a1a20d97426fa0dd15818a249a11

NEXT_PUBLIC_UMAMI_WEBSITE_ID=
NEXT_PUBLIC_UMAMI_SCRIPT_SRC=

NEXT_PUBLIC_BREVO_LIST_ID=
NEXT_PUBLIC_BREVO_API_KEY=

NEXT_PUBLIC_APOLLO_ID=
NEXT_PUBLIC_APOLLO_SRC=

NEXT_PUBLIC_TRUSTPILOT_BUSINESS_UNIT_ID=""
NEXT_PUBLIC_TRUSTPILOT_TEMPLATE_ID="5419b6a8b0d04a076446a9ad"
NEXT_PUBLIC_TRUSTPILOT_LOCALE="en-US"
NEXT_PUBLIC_TRUSTPILOT_REVIEW_URL="https://www.trustpilot.com/review/pakufi.agency"