@use '../../styles/variables.scss' as *;

.content {
    margin-bottom: 30px;
    text-align: center;
    h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 1.5;
        text-align: center;
        color: inherit;
    }

    p {
        margin-bottom: 15px;
        text-align: center;
        color: inherit;

    }

    .buttons {
        margin-top: 20px;

        .buttonLink {
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}
.image {
    position: relative;
    text-align: center;
}

.imageLeft {
    margin-bottom: 20px;
}

@media only screen and (min-width: 990px) {
    .content {
        text-align: left;

        h1, h2, h3, h4, h5, h6 {
            font-size: 26px;
            margin-bottom: 10px;
            text-align: left;

        }

        p {
            text-align: left;
        }
        
        .buttons {
            margin-top: 35px;
            text-align: left;

        }
    }

    .imageLeft {
        text-align: left;
        margin-bottom: 0px;
    }

    .centralAlign {
        text-align: center;

        h1, h2, h3, h4, h5, h6 {
            font-size: 26px;
            margin-bottom: 10px;
            text-align: center;

        }

        p {
            text-align: center;
        }
        
        .buttons {
            margin-top: 35px;
            text-align: center;

        }
    }
    
}
