@use '../../styles/variables.scss' as *;

.pricingCard {
	text-align: center;
	background: $white;
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	padding-bottom: 35px;
  transition: $transition;
  margin-bottom: 30px;

  .pricingHeader {
      background: $white;
      position: relative;
      padding: 30px 20px;
      border: {
          radius: 5px 5px 0 0;
          bottom: 1px solid $white-eeeeee;
      }
      transition: $transition;
      margin-bottom: 30px;
      z-index: 1;
      background: $secondary-gradient;

      &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 5px 5px 0 0;
          background: $secondary-gradient;
          opacity: 0;
          visibility: hidden;
          transition: $transition;
          z-index: -1;
      }
      h3 {
          font-size: 1.6rem;
          text-transform: uppercase;
          transition: $transition;
          margin-bottom: 10px;
          color: $white;
          font-weight: 700;
      }
      p {
          font-style: italic;
          color: $dark-grey-blue;
          margin-bottom: 0;
      }
  }
  .price {
      margin-bottom: 15px;

      span {
          color: $primary-color;
          font: {
              size: 30px;
              weight: 600;
          }
          sup {
              font: {
                  weight: 500;
              }
          }
          span {
              font: {
                  size: 14px;
                  weight: 500;
              }
          }
      }
  }
  .pricingFeatures {
      ul {
          padding: 0;
          list-style-type: none;
          margin-bottom: 30px;

          li {
              margin-bottom: 12px;

              &:last-child {
                  margin-bottom: 0;
              }
              &.active {
                  color: $paragraph-color;
                  text-decoration: none;
              }
          }
      }
  }
  &:hover {
      transform: translateY(-10px);
  }
}