@use '../../styles/variables.scss' as *;

.heroBanner {
    position: relative;
    padding: 150px 0 80px;
    z-index: 0;
    height: 97vh;
    background: $river-bed-green;
    background: $gradient-hero;
    color: $white;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 20%; // the triangle height
        background-color: $river-bed-green;
        background-color: transparent;
        clip-path: polygon(50% 0, 0 100%, 100% 100%); // top, bottom left, bottom right
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .bannerContent {
        max-width: 100%;
    
        .smallTitle {
            color: $secondary-color;
            font-size: 15px;
            margin-bottom: 10px;
            display: none;
        }
    
        .description {
            color: $white;
            margin-bottom: 34px;
            
            h1 {
                font-size: 40px;
                color: $white;
                margin-bottom: 20px;
                margin-top: 3px;
            }

            p {
                color: inherit;
                line-height: 1.5;
                font-size: 1.1rem;
            }

            h4 {
                font-size: 14px;
                margin-bottom: 20px;
                color: $white;
            }
        }

        .button {
            margin: 10px;
            > span {
                color: inherit;
                padding: 0;
                margin: 0;
                background: inherit;
            }
        }
    }

    .bannerImage {
        position: relative;
        top: 20px;
        filter: brightness(80%);
        min-width: 350px;
        align-items: center;
        justify-content: center;
        display: none;
        
        .Image {
            width: 100%;
        }
    }
}


@media only screen and (min-width: 767px ) {
    .heroBanner {
        padding: {
            top: 185px;
            bottom: 150px;
        }
        height: 115vh;

        &::after {
            background-color: $river-bed-green;
        }
        
    }

    .contentContainer {
        display: flex;
        flex-direction: row;
        text-align: left;

        .bannerContent {
            max-width: 445px;
            margin-right: 50px;
            min-width: 300px;

            span {
                display: inline-block;
            }

            .description {

                h4 {
                    font-size: 20px;
                }
            }
        }

        .bannerImage {
            top: 200px;
            display: flex;
            transform: scale(3);
            
            .Image {
                width: 100%;
            }
        }
    }

    .crossShape {
        left: 40%;
        top: 15%;
    }

    .triangleShape {
        bottom: 30%;
    }
}

@media only screen and (min-width: 991px ) {
    .heroBanner {
        padding: {
            top: 185px;
            bottom: 150px;
        }
        height: 115vh;
    }

    .contentContainer {
        align-items: flex-start;
        .bannerContent {
            margin-top: 50px;
        }

        .bannerImage {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            transform: scale(2.5);
        }
    }
}

// Big screen
@media only screen and (min-width: 1550px ) {
    .heroBanner {
        height: 97vh;
    }

    .contentContainer {
        .bannerImage {
            justify-content: center;
            align-items: center;
        }
    }
}