@use '../../styles/variables.scss' as *;

.ctaArea {
    background: $river-bed-green;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: {
        top: 100px;
        bottom: 100px;
    }
}
.ctaContent {
    text-align: center;

    h2 {
        color: $navy-blue;
        font-size: 25px;
        font-weight: 800;
        line-height: 1.5;
        text-transform: uppercase;
        padding-bottom: 65px;
    }
}
.ctaImg {
    text-align: center;
}

// .circleBox {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
// }
.ctaShape {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    img {
        transform: rotate(180deg);
        opacity: 0.6;
    }
}

@media only screen and (min-width: 767px) {
    .ctaContent {
        padding: 30px 0px;
        text-align: left;

        h2 {
            font-size: 40px;
            padding-bottom: 45px;
        }
    }
}


// <div className={styles.animateBorder}>
// <span></span>
// <span></span>
// <span></span>
// <span></span>
// </div>
// .animateBorder {
//     span {
//         position: absolute;
//         display: block;
//         width: 5%;
//         padding-bottom: 5%;
//         opacity: 0;
//         transform: translate(-50%, -50%);
//         backface-visibility: hidden;
//         pointer-events: none;
//         border-radius: 50%;
//         z-index: -2;
//         top: 78%;
//         left: 41%;

//         &:nth-child(1) {
//             animation: 4.2s ease-out .5s infinite normal none running pulsei;
//         }
//         &:nth-child(2) {
//             animation: 4.2s ease-out 1.5s infinite normal none running pulsei;
//         }
//         &:nth-child(3) {
//             animation: 4.2s ease-out 2.5s infinite normal none running pulsei;
//         }
//         &:nth-child(4) {
//             animation: 4.2s ease-out 3.5s infinite normal none running pulsei;
//         }
//     }
// }
// @keyframes pulsei {
//     0% {
//         transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
//         border: 1.5px solid #b3eaf8;
//         opacity: 1;
//         width: 5%;
//         padding-bottom: 5%;
//     }
//     100% {
//         transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
//         opacity: 0;
//         width: 50%;
//         border: 1.5px solid #b3eaf8;
//         padding-bottom: 50%;
//     }
// }