@use '../../styles/variables.scss' as *;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.3s;
  background-color: $white-color;
  z-index: 99;

  &.isSticky {
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  }

  &.isOpen {
    height: 100%;
  }
}

.startpNav {
  background: transparent;

    .navBarContent {
      text-align: center;

      .nav-link {
        padding: 10px;
        font-weight: 500;
        color: $navlink-color;
        
        &:hover, &.active {
          color: $primary-color;
        }

        svg {
          margin-left: 5px;
        }
      }
    }
}

// Nav (mobile/desktop)
.nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .othersOption {
    display: none;
  }

  .navBarMobileButton {
    background: none;
    border: none;
  }
}


// Nav (mobile & open)
.isOpen {
  height: 100%;

  .startpNav, .container, .nav {
    height: 100%;
  }

  .logo {
    order: 1;
    align-self: flex-start;
  }

  .navBarMobileButton {
    order: 2;
    align-self: self-start;
    padding-top: 20px;

    .icon-bar {
      background: $navlink-color;
    }
  }

  .navBarContent {
    order: 3;
    flex-grow: 1;
  }

  .othersOption {
    display: inline-block;
    order: 4;
    margin-top: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .navItem {
    position: relative;

    .dropdownMenu {
      position: static;
      width: 100%; 
      margin-top: 0.5rem; 
      visibility: visible; 
      opacity: 1;
      box-shadow: none; 
    }
  }
}

// Links & Dropdown
.navBarContent {
  .navItem {
    position: relative;

    a svg {
      width: 14px;
    }

    .dropdownMenu {
      list-style: none;
      left: 0;
      top: 100%;
      background-color: $white-color;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      display: none;
      transition: display 0.3s;

      .nav-link {
        color: $navlink-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .dropdownOpen {
      display: inline-block;
    }
  }
}

// Buttons
.othersOption {
    .cart-wrapper-btn {
        position: relative;
        margin-right: 25px;

        svg {
            width: 15px;
        }
        i {
            font-size: 20px;
        }
        span {
            background-color: red;
            color: #ffffff;
            font-size: 9px;
            width: 13px;
            height: 13px;
            text-align: center;
            line-height: 14px;
            border-radius: 50%;
            position: absolute;
            top: -2px;
            right: -9px;
        }
    }

    .btnLight {
        background: transparent;
        border: 1px dashed #cdf1d8;
        padding: 6px 12px;
        margin-right: 5px;
        font-size: 10px;
        &:focus {
            color: $black-color !important
        }
        &:hover, &:focus {
            color: $white-color;
            border-color: $primary-color;
        }
        &::after, &::before {
            background: $primary-color;
        }
    }

    .btnPrimary {
        background: $secondary-color;
        box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);

        &::after, &::before {
            background: $primary-color;
            box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
        }
    }
}


// Desktop
@media only screen and (min-width: 767px) {
    .startpNav {
        .navBarContent {
            height: auto;
        }
    }

    // Nav order
    .nav {
      display: flex;
      align-items: center;

      .logo {
        order: 1;
        align-self: center;
      }

      .navBarContent {
        order: 2;
        flex-grow: 1;

        .dropdownMenu {
          position: absolute;
          min-width: 150px;
          margin-left: 10px;
          text-align: left;
        }
      }

      .othersOption {
        display: inline;
        order: 3;
        margin-top: 0;
        margin-left: 20px;
      }

      .navBarMobileButton {
        order: 4;
        align-self: center;
      }
    }
}