/*----------------------------------------*/
/*  21. WorkInProgress CSS
/*----------------------------------------*/

.wip {
    &__area {
        background: $dark;
        height: 100vh;
        display: flex;
    }
    &.pricing__area {
        height: auto;
        width: 100%;
        align-content: center;
    }
}