
/*================================================
Agency Main Banner CSS
=================================================*/
.agency-main-banner {
    position: relative;
    z-index: 1;

    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        };
        .row {
            margin: {
                left: 0;
                right: 0;
            };
            .col-lg-6 {
                padding: {
                    left: 0;
                    right: 0;
                };
            }
        }
    }
    .shape2 {
        left: 5%;
    }
    .shape8 {
        right: 50%;
    }
    .shape4 {
        right: 50%;
    }
}
.agency-banner-content {
    margin-left: auto;
    max-width: 650px;

    .sub-title {
        text-transform: uppercase;
        display: block;
        font-size: 16px;
        color: $paragraph-color;
        margin-bottom: 8px;
    }
    h1 {
        margin-bottom: 15px;
        line-height: 1.3;
        font: {
            size: 50px;
            weight: 500;
        };
    }
    p {
        font-size: 15px;
        max-width: 450px;
    }
    .btn {
        margin-top: 5px;
    }
}
.agency-banner-image {
    text-align: right;
}


/*================================================
Agency About CSS
=================================================*/
.agency-about-area {
    position: relative;
    z-index: 1;

    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        };
        .row {
            margin: {
                left: 0;
                right: 0;
            };
            .col-lg-6 {
                padding: {
                    left: 0;
                    right: 0;
                };
            }
        }
    }
}
.agency-about-img {
    padding-right: 100px;

    img {
        width: 100%;
    }
}
.agency-about-content {
    max-width: 540px;

    .sub-title {
        display: inline-block;
        color: $secondary-color;
        background-color: #f5dffd;
        margin-bottom: 18px;
        border-radius: 30px;
        padding: 5px 20px 4px;
        font-size: 13px;
    }
    h2 {
        margin-bottom: 0;
        line-height: 1.4;
        font: {
            size: 28px;
            weight: 600;
        }
        text-transform: capitalize;
    }
    .bar {
        height: 5px;
        width: 90px;
        background: #cdf1d8;
        margin: 20px 0;
        position: relative;
        border-radius: 30px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: -2.7px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background: $primary-color;
            animation: {
                duration: 3s;
                timing-function: linear;
                iteration-count: infinite;
                name: MOVE-BG;
            };
        }
    }
    p {
        margin-bottom: 12px;
    }
    .btn {
        margin-top: 10px;
    }
}
.shape10 {
    position: absolute;
    right: 0;
    top: -40%;
    z-index: -1;
}

/*================================================
Agency Services CSS
=================================================*/
.agency-services-area {
    position: relative;
    z-index: 1;
    background: linear-gradient(to top, #d5fefd, #e1fdff, #effdff, #fafdff, #ffffff);
}
.agency-services-box {
    margin-bottom: 30px;
    text-align: center;

    img {
        border-radius: 7px;
    }
    .content {
        transition: $transition;
        background: $white-color;
        position: relative;
        border-radius: 7px;
        padding: 25px;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .05);
        margin: {
            left: 15px;
            right: 15px;
            top: -30px;
        };
        h3 {
            transition: $transition;
            font-size: 20px;
            margin-bottom: 0;
        }
        .read-more-btn {
            display: inline-block;
            border-radius: 30px;
            padding: 9px 25px;
            border: 1px solid #e6e6e6;
            background-color: $white-color;
            position: absolute;
            transition: $transition;
            left: 50%;
            transform: translateX(-50%);
            bottom: -22px;
            opacity: 0;
            visibility: hidden;
            font: {
                size: 14px;
                weight: 500;
            };
            svg {
                width: 15px;
                margin-left: 2px;
            }
            &:hover {
                background-color: $primary-color;
                border-color: $primary-color;
                color: $white-color;
            }
        }
    }
    &:hover {
        .content {
            transform: translateY(-20px);

            h3 {
                transform: translateY(-10px);
            }
            .read-more-btn {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}


/*================================================
Agency CTA CSS
=================================================*/
.agency-cta-area {
    position: relative;
    z-index: 1;
    background: {
        image: url('/images/agency-image/agency-gradient-bg.jpg');
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
}
.agency-cta-content {
    text-align: center;

    h2 {
        color: $white-color;
        margin-bottom: 30px;
        font: {
            size: 28px;
            weight: 600;
        };
    }
}

/*btn-gradient*/
.btn-gradient {
    color: $white-color;
    background: linear-gradient(90deg,#ee0979 0,#ff6a00 100%);
    box-shadow: unset !important;
    transform: unset !important;

    &::after {
        display: none;
    }
    &::before {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        background: linear-gradient(135deg,#23bdb8 0,#43e794 100%);
        left: 0;
        border-radius: 4px;
    }
    &:hover, &:focus, &:active {
        color: $white-color;
        background: linear-gradient(90deg,#ee0979 0,#ff6a00 100%);
        box-shadow: unset !important;

        &::before {
            opacity: 1;
            visibility: visible;
            width: 100%;
        }
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        color: $white-color;
        background: linear-gradient(90deg,#ee0979 0,#ff6a00 100%);
        box-shadow: unset !important;

        &::before {
            opacity: 1;
            visibility: visible;
            width: 100%;
        }
    }
    &.disabled, &:disabled {
        color: $white-color;
        background: linear-gradient(90deg,#ee0979 0,#ff6a00 100%);
        box-shadow: unset !important;

        &::before {
            opacity: 1;
            visibility: visible;
            width: 100%;
        }
    }
}

/*================================================
Agency Portfolio Main Banner CSS
=================================================*/
.agency-portfolio-main-banner {
    height: 100vh;
    position: relative;
    z-index: 1;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
}
.portfolio-banner-content {
    text-align: center;
    max-width: 700px;
    margin: {
        left: auto;
        right: auto;
        top: -50px;
    };
    .sub-title {
        display: block;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .5px;
        color: $paragraph-color;
        margin-bottom: 10px;
    }
    h1 {
        margin-bottom: 15px;
        line-height: 1.3;
        font: {
            size: 40px;
            weight: 500;
        };
    }
    p {
        font-size: 15px;
        max-width: 490px;
        margin: {
            left: auto;
            right: auto;
        };
    }
    .btn {
        margin-top: 5px;
    }
}
.agency-portfolio-home-slides {
    .swiper-button-next, .swiper-button-prev {
        width: 50px;
        height: 50px;

        &:after {
            background-color: #e1e1e1;
            color: $black-color;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            transition: $transition;
            font-size: 25px;
        }
    }
}

/*================================================
Agency Portfolio About CSS
=================================================*/
.agency-portfolio-about-area {
    background-color: #f4f4f4;
}
.single-text-box {
    margin-bottom: 30px;
    h3 {
        margin: {
            bottom: 12px;
            top: 25px;
        };
        font: {
            weight: 600;
            size: 22px;
        };
    }
    .learn-more-btn {
        color: #365267;
        font: {
            size: $font-size;
            weight: 600;
        };
        svg {
            width: 18px;
            position: relative;
            top: -1px;
            margin-right: 3px;
        }
        &:hover {
            color: $primary-color;
        }
    }
}

/*================================================
Agency Portfolio Partner CSS
=================================================*/
.agency-portfolio-partner-area {
    background-color: $black-color;
}
.single-agency-portfolio-partner {
    text-align: center;

    a {
        display: block;

        img {
            width: auto !important;
            display: inline-block !important;
        }
    }
}