
/*================================================
Repair Main Banner CSS
=================================================*/
.repair-main-banner {
    overflow-x: hidden;
    padding: {
        top: 200px;
        bottom: 140px;
    }
}
.repair-banner-content {
    h1 {
        margin-bottom: 20px;
        font: {
            size: 45px;
            weight: 500;
        }
    }
    p {
        margin-bottom: 30px;
    }
}
.repair-banner-image {
    position: relative;
    text-align: center;

    img {
        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: -65px;
            right: -30px;
            margin: 0 auto;
            z-index: -1;
        }
        &:nth-child(3) {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: -69px;
            z-index: -2;
        }
        &:nth-child(4) {
            position: absolute;
            left: 0;
            right: 0;
            top: -30px;
            z-index: -1;
            margin: 0 auto;
        }
    }
}

/*================================================
Repair Partner CSS
=================================================*/
.repair-partner-area {
    padding: {
        top: 45px;
        bottom: 45px;
    }
}
.single-repair-partner {
    text-align: center;

    a {
        display: block;
        position: relative;

        img {
            width: auto !important;
            display: inline-block !important;

            &:last-child {
                position: absolute;
                top: 20px;
                left: 0;
                right: 0;
                margin: 0 auto;
                transition: $transition;
                opacity: 0;
                visibility: hidden;
            }
        }
        &:hover, &:focus {
            img {
                &:last-child {
                    opacity: 1;
                    visibility: visible;
                    top: 0;
                }
            }
        }
    }
}

/*================================================
Repair About CSS
=================================================*/
.repair-about-content {
    .sub-title {
        text-transform: uppercase;
        color: $primary-color;
        display: block;
        font: {
            size: 15px;
            weight: 400;
        }
    }
    h2 {
        font: {
            size: 24px;
            weight: 600;
        }
        margin: {
            top: 10px;
            bottom: 10px;
        }
    }
    ul {
        padding: 0;
        list-style-type: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: {
            top: -10px;
            right: -10px;
            left: -10px;
        }
        li {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            width: 100%;
            margin-top: 25px;
            color: $paragraph-color;
            position: relative;
            padding: {
                right: 10px;
                left: 10px;
            }
            span {
                display: block;
                position: relative;
                z-index: 1;
                padding: 10px;
                border-radius: 3px;
                transition: $transition;
                box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

                svg {
                    margin-right: 5px;
                    display: inline-block;
                    color: $primary-color;
                    transition: $transition;
                    width: 18px;
                }
                &::before {
                    content: '';
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background: $gradient-color;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    border-radius: 3px;
                    z-index: -1;
                    transition: $transition;
                }
                &:hover, &:focus {
                    color: $white-color;
                    transform: translateY(-5px);

                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                    svg {
                        color: $white-color;
                    }
                }
            }
        }
    }
}
.repair-about-image {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        position: absolute;

        &:nth-child(1) {
            left: 0;
            top: 0;
            z-index: 1;
        }
        &:nth-child(2) {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            text-align: center;
            z-index: 2;
            margin: 0 auto;
            border: 5px solid #f8fbff;
            width: 350px;
        }
        &:nth-child(3) {
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        &:nth-child(4) {
            right: 0;
            top: 0;
        }
        &:nth-child(5) {
            left: 0;
            bottom: 0;
        }
    }
}

/*================================================
Repair Services CSS
=================================================*/
.repair-services-area {
    padding-bottom: 50px;
}
.single-repair-services {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    padding: 40px 30px;
    text-align: center;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    &::before {
        position: absolute;
        transition: $transition;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white-color;
        z-index: -1;
        border: 1px dashed #cdf1d8;
    }
    &::after {
        position: absolute;
        transition: $transition;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $gradient-color;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        border: 1px dashed #cdf1d8;
    }
    h3 {
        font-size: 19px;
        transition: $transition;
        line-height: 1.4;
        margin: {
            top: 22px;
            bottom: 12px;
        }
    }
    .icon {
        display: inline-block;
        color: $primary-color;
        width: 85px;
        height: 85px;
        line-height: 85px;
        border: 1px solid #e3f7e9;
        border-radius: 50%;
        transition: $transition;

        i {
            &::before {
                font-size: 35px;
            }
        }
    }
    p {
        margin-bottom: 25px;
        transition: $transition;
    }
    a {
        width: 35px;
        background-color: $bg-color-f9fafb;
        height: 35px;
        line-height: 35px;
        color: $black-color;
        border-radius: 50%;

        svg {
            width: 15px;
        }
    }
    &:hover, &:focus {
        &::before {
            opacity: 0;
            visibility: hidden;
        }
        &::after {
            opacity: .85;
            visibility: visible;
        }
        h3 {
            color: $white-color;
        }
        p {
            color: $white-color;
        }
        .icon {
            border-color: $white-color;
            color: $white-color;
        }
        a {
            background-color: $white-color;
            color: $primary-color;
        }
    }
}

/*================================================
Repair CTA CSS
=================================================*/
.repair-cta-area {
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: {
        top: 10px;
        bottom: 10px;
    }
}
.cta-repair-content {
    padding: 30px 0;
    h3 {
        color: $white-color;
        font-size: 25px;
        margin-bottom: 17px;
    }
    p {
       color: $white-color;
       opacity: .95;
       margin-bottom: 25px;
    }
}
.cta-repair-img {
    text-align: right;
}
.circle-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.cta-shape {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/*================================================
Repair Team CSS
=================================================*/
.repair-team-area {
    .container {
        max-width: 1175px;
    }
    .single-team {
        .team-content {
            padding: {
                left: 25px;
                right: 25px;
            }
        }
    }
}

/*================================================
Repair Why Choose Us CSS
=================================================*/
.repair-why-choose-us {
    position: relative;
    z-index: 1;
    background: $gradient-color;

    .section-title {
        h2 {
            color: $white-color;
        }
        .bar {
            &::before {
                background: $white-color;
            }
        }
        p {
            color: $white-color;
            opacity: .95;
        }
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 37%;
        width: 100%;
        background: $white-color;
        z-index: -1;
    }
}
.single-repair-box {
    text-align: center;
    background-color: $white-color;
    border: 1px dashed #cdf1d8;
    padding: 30px;
    position: relative;
    z-index: 1;
    transition: $transition;

    h3 {
        font-size: 18px;
        margin: {
            top: 22px;
            bottom: 17px;
        }
    }
    p {
        margin-bottom: 25px;
    }
    a {
        width: 40px;
        background-color: #eef0f3;
        height: 40px;
        line-height: 40px;
        color: $black-color;
        border-radius: 50%;

        svg {
            width: 18px;
        }
    }
    .icon {
        display: inline-block;
        border: 1px solid #6ee9fa;
        width: 100px;
        height: 100px;
        line-height: 100px;
        border-radius: 50%;
        position: relative;
        color: $white-color;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            bottom: 0;
            background: $gradient-color2;
            border-radius: 50%;
            margin: 6px;
            transition: $transition;
        }
        i {
            &::before {
                font-size: 35px;
            }
        }
    }
    .back-icon {
        position: absolute;
        top: 58%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        color: #4457c3;
        opacity: .06;
        z-index: -1;
        
        i {
            &::before {
                font-size: 200px;
            }
        }
    }
    &:hover, &:focus {
        border-color: $primary-color;

        a {
            background-color: $primary-color;
            color: $white-color;
        }
    }
}

/*================================================
Repair Feedback CSS
=================================================*/
.single-repair-feedback {
    background: $white-color;
    border-radius: 5px;
    margin-bottom: 55px;
    position: relative;
    text-align: center;
    padding: {
        left: 40px;
        right: 40px;
        top: 40px;
        bottom: 40px;
    }
    .client-img {
        position: relative;
        text-align: left;
        margin-bottom: 40px;
        display: inline-block;
        padding: {
            left: 108px;
            top: 18px;
        }
        img {
            border-radius: 50%;
            border: 2px solid $primary-color;
            padding: 3px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 90px;
            height: 90px;
        }
        h3 {
            font-size: 18px;
            margin: 0;
        }
        span {
            display: block;
            color: $secondary-color;
            margin: {
                top: 8px;
            }
        }
    }
    p {
        font-size: 15px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -25px;
        width: 50px;
        height: 50px;
        background: $white-color;
        right: 0;
        margin: 0 auto;
        transform: rotate(45deg);
    }
    &::after {
        content: "\f11b";
        color: #d9dcde;
        font: {
            family: Flaticon;
            size: 30px;
            style: normal;
            size: 65px;
        }
        position: absolute;
        top: 0;
        left: 25px;
    }
}
