@use '../../styles/variables.scss' as *;

.container {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: $gradient2;
    color: $white;
    padding: 80px 0; 


    &::before {
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        left: -30%;
        top: 0;
    }
    .shape6 {
        top: 75%;
    }
}

.image {
    text-align: center;
}

.content {
    max-width: 540px;
    text-align: center;
    margin-top: 30px;
    color: $white;

    h2 {
        color: $white;
        margin-bottom: 0;
        font: {
            size: 28px;
            weight: 600;
        }
    }

    .buttonsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .button {
            margin-top: 50px;
        }
    
        .button:last-child {
            margin-top: 20px;
        }
    }
}


@media only screen and (min-width: 767px) {
    .container {
        padding-bottom: 50px;
    }

    .button {
        margin-top: 50px;
    }
}
